<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <table>
            <tr><td>Upload File </td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Run" /></td></tr>
        </table>
    </form>
</div>
<div th:if="${errorMessage} != null">
    <p th:utext= "${errorMessage}"/>
</div>
<div>
    <div th:if="${outputString} != null">
    <p> Mowers final positions:</p>
        <p th:utext= "${outputString}"/>
    </div>
</div>

</body>
</html>
